  .bg-primary {
    background: #004974;
  }
  
  .bg-secondery {
    background: #02283a;
  }
  
  .bg-accent {
    background: #5ec4dd;
  }

  .card-button-color {
    color: #38c5e4;
  }
  
  .card-button-hover {
    background: #a0ecff;
  }
  
  .text-accent {
    color: #5ec4dd;
  } 
  
  .mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
  } 
  
  nav li a {
    @apply px-4 py-5 text-lg;
  }
  
  nav li a:hover {
    color: #5ec4dd;
  }